/* child selector */
#article-one > p {
  color: blueviolet;
}
/* descendent combinator */
#article-two p {
  color: orange;
}
/* general sibling combinator */
h2 ~ p {
  background-color: beige;
}
/* adjacent sibling */
h2 + p {
  background-color: brown;
}

#article-one > article p {
  background-color: cadetblue;
}
